{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Items List{% endblock %}</h1>
{% endblock %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Weight</th>
        <th>Color Code</th>
        <th>Barcode</th>
        <th>Servings</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      {% for item in g.items %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.weight }}</td>
          <td>{{ item.colorCode }}</td>
          <td>{{ item.barcode }}</td>
          <td>{{ item.servings }}</td>
          <td>{{ item.location }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}